body{
    font-family: 'Poppins', sans-serif;
}
h1{
    color:black;
    font-size: 30px;
    
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 80px;
    margin-left: 0;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 60%;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    background-color: orangered;
    color:white ;
    font-weight: 700px;
    padding: 10px 40px;
    border-radius: 50px;
}
.about-me{
    background-image:url(images/shapes/7.png) ;
    background-repeat: no-repeat;
    background-position: middle;
}
.about{
    text-align: center;
}
.center{
    text-align: center;
    padding-right: 25%;
    padding-left: 25%;
}
.three-part {
    width:30%;
    

}
.three-part img{
    display: flex;
    width:80%;
    padding-left: 10%;
    padding-right: 20%;
    padding-top: 5%;
}
.three-part h1{
    padding-left: 10%;   
}
.small{
    padding-left: 10%;
}
.three-part{
    box-shadow: 10px 10px 40px gray;
    margin-left:5%;
    border-radius: 20px;
}
.follow{
    width: 25%;
    padding-left: 10%;
   
}
.follower{
    box-shadow: 10px 10px 40px gray;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    
}


    
    
